.about-title{
    color: #F0F8FF;
    text-align: center;
}
.udl{
    height: 7px;
    width: 30px;
    background-color: #FDDC7D;
    border:none;
    border-radius: 15px;
    margin: auto;
}
.caption{
    color:#F0F8FF;
    text-align: center;
    margin-top:25px;
}
.abb-one{
    width: 200px;
    display: flex;
    margin: auto;
    margin-top: 20px;
    justify-content: space-between;
    color: #F0F8FF;
    border: 2px solid #F0F8FF;
    border-radius: 0.75rem;
    padding: 15px 100px 15px 100px;
    text-decoration: none;
}
.abb-one > .download-icon{
    color: #F0F8FF;
}

.abb-two{
    width: 200px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    color: #17252A;
    background-color: #FDDC7D;
    border-radius: 0.75rem;
    padding: 15px 100px 15px 100px;
    text-decoration: none;
}
.abb-two > .briefcase-icon{
    color: #17252A;
}
/* media query*/
@media (max-width: 480px) {}
@media (max-width: 768px) {}
@media (max-width: 1024px) {}
@media (max-width: 1200px) {}